body{
 background-color:teal;
    margin: auto;
    padding: 0px;
    font-family: sans-serif;
    font-style: oblique;
    text-align: center;
}
.g{
    width: 950px;
    height: 1000px;
    background-color: whitesmoke;
    align-self: center;
    
    
    
    
    
    
}